body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* cabeza de la pagina*/
header {
    background-color: #000000;
    color: #f8f32b; /* Amarillo */
    padding: 10px;
    text-align: center; 
}
.logo{ 
    display: flex;
    align-items:center ;
}

.logo img{ 
    height: 70px;
    margin-right: 350px;
}
.reparacion { 
    display: flex;
    height: 70px;
    margin-right: 650px;
    margin: 50px;
}


/*margen central del menu*/
nav {
    background-color: #dcf4ff ; /* Azul agua marina */
    padding: 10px;
    text-align: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* division de los apartados de la barra del menu*/
nav ul li {
    display: inline;
    margin: 0 15px;
}

/* color de las letras de la barra del menu*/
nav ul li a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f7c346; /* Amarillo */
}

/* espacio del texto del cuerpo de la paguina*/
main {
    padding: 20px;
}

/*centrar el texto del cuerpo*/
section {
    margin-bottom: 20px;
}

/*subtitlulos de la paguina color*/
h2 {
    color: #00ced1; /* Azul agua marina */
}

/*pie de paguina con los derechos*/
footer {
    background-color: #000000;
    color:#f8f32b; /* Amarillo */
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}