body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.password-container {
    position: relative;
    width: 300px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Espacio adicional para el ícono */
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
    cursor: pointer;
}